body {
  margin: 0;
}

.hex-box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(59, 73, 92);
}

.hex-box-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(59, 73, 92);
}

.hex-box {
  background-color: black;
  width: 100px;
  height: 100px;
  /* background-color: rgb(127, 139, 166); */
  background-color: rgb(59, 73, 92);
  border: 1px transparent solid;
  transition: 0.5s;
}

.hex-box:hover {
  border: 1px solid white;
  text-decoration: none;
}


#press-enter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-family: sans-serif;
  color: #FFF;
}
